#shareScrollPanel > .viewport {
    -fx-background-color:  #D9D9D9;
 }
 #shareScrollPanel{
    -fx-background-color:  #D9D9D9;
 }
 #loadBtn {
   -fx-font-size: 27px;
   -fx-alignment:center;
   -fx-pref-height: 59.2px;
   -fx-pref-width: 544px;
   -fx-background-color:  #4D505B;
   -fx-text-fill: rgb(255, 255, 255);
   -fx-padding: 4 4 4 4;
   -fx-border-insets: 4 4 4 4;
   -fx-background-insets: 4 4 4 4;
}
#instChoice{
   -fx-pref-width: 153px;
}
#locationChoice{
   -fx-pref-width: 206px;
}
#categorieChoice{
   -fx-pref-width: 206px;
}
.choice-box{
    -fx-font-size:15pt;
    -fx-font-weight:bold; 
    -fx-pref-height: 48.8px;
    -fx-pref-width: 153px;
    -fx-radius: 30.0;
   -fx-background-color:  #4D505B;
 }
 .choice-box .label{
    -fx-text-fill: rgb(168, 168, 168);
}
.check-box {
   -fx-font-size: 27;
   -fx-padding: 8px;
}
.check-box > .box {
   -fx-padding: 8px;
}
.check-box > .viewport{
   -fx-pref-height: 59.2px;
   -fx-pref-width: 348.8px;
}
#expPane{
   -fx-background-color: white;
    -fx-background-radius: 30.0;
    -fx-hgap: 8;
    -fx-pref-height: 570px;
    -fx-pref-width: 272px;
    -fx-padding: 0 0 4 0;
    -fx-border-insets: 0 0 4 0;
    -fx-background-insets: 0 0 4 0;
}
#instPane{
   
   -fx-pref-height: 530px;
   -fx-pref-width: 272px;
    -fx-padding: 0 0 4 0;
    -fx-border-insets: 0 0 4 0;
    -fx-background-insets: 0 0 4 0;
}
#txtField{
   -fx-background-color: white;
   -fx-background-radius: 30.0;
   -fx-pref-height: 61.6px;
   -fx-pref-width: 256.8px;
   -fx-layout-x: 0px;
   -fx-layout-y: 0px;
   -fx-font-size: 27;
   -fx-alignment:center;
}
#paneShareLabel{
   -fx-pref-height: 42.4px;
   -fx-pref-width: 228.8px;
   -fx-font-size: 27;
}
#errorTitle{
   -fx-font-size: 30;
   -fx-alignment:center;
   -fx-pref-height: 50px;
   -fx-text-fill: rgb(255, 255, 255);
   -fx-pref-width: 200px;
}
#errorMessage{
   -fx-font-size: 27;
   -fx-pref-height: 200px;
   -fx-pref-width: 200px;
   -fx-text-fill: rgb(255, 255, 255);
   -fx-alignment:center;
}
#ecChoice1{
   -fx-pref-height: 43.2px;
   -fx-pref-width: 152px;
}
#ecChoice2{
   -fx-pref-height: 43.2px;
   -fx-pref-width: 152px;
}
#hiChoice1{
   -fx-pref-height: 43.2px;
   -fx-pref-width: 152px;
}
#hiChoice2{
   -fx-pref-height: 43.2px;
   -fx-pref-width: 152px;
}
#errorPane{
   -fx-background-color: rgb(128, 45, 45);
   -fx-border-color: rgb(175, 26, 26) ;
    -fx-border-width: 10 ; 
    -fx-background-radius: 40.0;
    -fx-border-radius:30;
}
#closeBtn{
   -fx-background-color: rgba(102, 84, 84, 0.26);
   -fx-pref-height: 50px;
   -fx-pref-width: 150px;
   -fx-alignment:center;
   -fx-font-size: 20px;
   -fx-text-fill: rgb(255, 255, 255);
   -fx-background-radius: 30.0;
}