#shareScrollPanel > .viewport {
	-fx-background-color: #d9d9d9;
}
#shareScrollPanel {
	-fx-background-color: #d9d9d9;
}
#loadBtn {
	-fx-font-size: 27px;
	-fx-alignment: center;
	-fx-pref-height: 59.2px;
	-fx-pref-width: 544px;
	-fx-background-color: #4d505b;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-padding: 4 4 4 4;
	-fx-border-insets: 4 4 4 4;
	-fx-background-insets: 4 4 4 4;
}
#instChoice {
	-fx-pref-width: 153px;
}
#locationChoice {
	-fx-pref-width: 165px;
}
#categorieChoice {
	-fx-pref-width: 165px;
}
.choice-box {
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-pref-height: 42px;
	-fx-pref-width: 153px;
	-fx-radius: 30;
	-fx-background-color: #4d505b;
}
.choice-box .label {
	-fx-text-fill: rgb(168, 168, 168);
}
.check-box {
	-fx-font-size: 20;
	-fx-padding: 8px;
}
.check-box > .box {
	-fx-padding: 8px;
}
.check-box > .viewport {
	-fx-pref-height: 59.2px;
	-fx-pref-width: 348.8px;
}
.stockPane {
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-hgap: 8;
	-fx-pref-height: 511px;
	-fx-pref-width: 738px;
	-fx-padding: 0 0 4 0;
	-fx-border-insets: 0 0 4 0;
	-fx-background-insets: 0 0 4 0;
}
#instPane {
	-fx-pref-height: 530px;
	-fx-pref-width: 272px;
	-fx-padding: 0 0 4 0;
	-fx-border-insets: 0 0 4 0;
	-fx-background-insets: 0 0 4 0;
}
.txtField {
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-pref-height: 61.6px;
	-fx-pref-width: 404px;
	-fx-layout-x: 0px;
	-fx-layout-y: 0px;
	-fx-font-size: 27;
	-fx-font: bold;

	-fx-alignment: center;
}
.paneShareLabel {
	-fx-pref-height: 35px;
	-fx-pref-width: 184px;
	-fx-font-size: 20;
}
#errorTitle {
	-fx-font-size: 18;
	-fx-alignment: left;
	-fx-pref-height: 40px;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-pref-width: 200.5px;
}
#errorMessage {
	-fx-font-size: 18;
	-fx-pref-height: 300;
	-fx-pref-width: 360px;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-alignment: center;
}
#ecChoice1 {
	-fx-pref-height: 43.2px;
	-fx-pref-width: 152px;
}
#ecChoice2 {
	-fx-pref-height: 43.2px;
	-fx-pref-width: 152px;
}
#hiChoice1 {
	-fx-pref-height: 43.2px;
	-fx-pref-width: 152px;
}
#hiChoice2 {
	-fx-pref-height: 43.2px;
	-fx-pref-width: 152px;
}
#errorPane {
	-fx-border-color: #b4010a;
	-fx-background-color: #b86868;
	-fx-border-width: 3;
	-fx-background-radius: 40;
	-fx-border-radius: 30;
}

#closeBtn {
	-fx-pref-height: 20px;
	-fx-pref-width: 110px;
	-fx-alignment: center;
	-fx-font-size: 16px;
	-fx-background-color: #b86868;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-weight: bold;
	-fx-background-radius: 30;
}
#searchBar {
	-fx-font-size: 24px;

	-fx-text-fill: rgb(255, 255, 255);
}
.pinkLine {
	-fx-stroke: #9c5eeb;
}

.default-color0.chart-series-line {
	-fx-stroke: #ff1fec;
}
.default-color1.chart-series-line {
	-fx-stroke: #071d32;
}
.default-color2.chart-series-line {
	-fx-stroke: #3b4854;
}
.default-color3.chart-series-line {
	-fx-stroke: #ff5a1f;
}
.default-color4.chart-series-line {
	-fx-stroke: #e3ff1f;
}
.default-color5.chart-series-line {
	-fx-stroke: #7a4d69;
}
.default-color6.chart-series-line {
	-fx-stroke: #1fff43;
}
.default-color7.chart-series-line {
	-fx-stroke: #ff2121;
}
.default-color8.chart-series-line {
	-fx-stroke: #891fff;
}
.default-color9.chart-series-line {
	-fx-stroke: #07321d;
}
.instLabel{
	-fx-pref-height: 35px;
	-fx-pref-width: 296px;
	-fx-font-size: 20;
}
.errorPane{
	-fx-pref-height: 42px;
	-fx-pref-width: 153px;
	-fx-background-color: red;
}
#insLabel{
	-fx-font-size: 20;
	-fx-pref-width: 296px;
	-fx-pref-height: 35px;
	-fx-font-weight: bold;
}
